<div class="container tracking-wide divide-y divide-gray-300">
    <div class="w-full px-4 py-2 bg-white border-t border-gray-300">
        <span class="font-medium text-sm">({{recipeRatings.length}}) Ratings</span>
    </div>
    <div class="w-full flex flex-col divide-y divide-gray-300">
        <div *ngFor="let recipeRating of recipeRatings">
            <div class="w-full grid grid-cols-6 gap-2 p-4 bg-white sm:grid-cols-10">
                <div class="col-span-1 flex flex-row items-start justify-center">
                    <img [src]="recipeRating.author.profileImg | img" alt="Profile Image" class="object-cover w-12 h-12 rounded-full">
                </div>
                <div class="col-span-5 flex flex-col space-y-1 sm:col-span-9">
                    <div class="flex flex-col">
                        <div class="flex flex-row items-center space-x-2">
                            <span class="font-medium text-sm">{{recipeRating.author.fullname}}</span>
                            <span class="text-xs text-gray-400 before:content-['•']"> {{recipeRating.author.username}}</span>
                        </div>
                        <span class="text-xs text-gray-400">{{recipeRating.createdAt | date:'d MMM y, h:mm a'}}</span>
                        <div class="relative w-fit inline-flex items-center pt-1">
                            <div class="absolute inline-flex items-center overflow-hidden" [style.width.%]="recipeRating.rating*20">
                                <hero-icon *ngFor="let rate of [0,1,2,3,4]" name="star" type="solid" class="w-4 h-4 text-yellow-400 fill-yellow-400"></hero-icon>
                            </div>
                            <div class="inline-flex items-center">
                                <hero-icon *ngFor="let rate of [0,1,2,3,4]" name="star" type="solid" class="w-4 h-4 text-gray-300 fill-gray-300"></hero-icon>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="text-sm text-justify" [innerHTML]="recipeRating.body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>