<div class="relative w-[80vw] max-w-xl max-h-[650px] mx-6 p-6 bg-white rounded-md overflow-y-scroll sm:mx-0 sm:w-[60vw]">
    <button (click)="closeDialog()" class="absolute top-4 right-4 rounded-full p-1 hover:bg-gray-200 active:scale-95">
        <hero-icon name="x" type="outline" class="w-6 h-6 text-inherit"></hero-icon>
    </button>
    <div class="space-y-4">
        <h1 class="font-semibold text-xl">{{data.title}}</h1>
        <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" class="flex flex-col space-y-4">
            <div class="space-y-1">
                <label for="name" class="font-medium">Name*</label>
                <input type="text" placeholder="Enter name" class="input-text" formControlName="name">
            </div>
            <div class="flex items-center justify-evenly space-x-4 pt-4">
                <button type="submit" [disabled]="categoryForm.invalid" class="w-full button-primary">Submit</button>
                <button type="reset" class="w-full button-secondary">Reset</button>
            </div>
        </form>
    </div>
</div>