<div class="container">
    <div class="flex flex-row items-center justify-between">
        <h1 class="font-bold text-3xl">Course</h1>
        <button (click)="openAddDialog()" class="button-primary flex items-center space-x-1.5">
            <hero-icon name="plus" type="solid" class="w-4 h-4 text-white fill-white"></hero-icon>
            <span class="text-sm">Add Course</span>
        </button>
    </div>
    <ul class="container grid grid-cols-1 gap-4 my-4">
        <li *ngFor="let course of courses" class="grid grid-cols-8 gap-4 border rounded-md bg-white shadow-md hover:shadow-lg hover:-translate-y-0.5">
            <a [routerLink]="['./',course.id]" class="col-span-7 flex items-center">
                <div class="p-4">
                    <img [src]="course.thumbnail | img" alt="Course Thumbnail" class="object-cover w-96 h-36 rounded-md">
                </div>
                <div class="flex flex-col justify-center">
                    <span class="font-medium">{{course.title}}</span>
                    <span class="text-xs">Created {{course.createdAt | date:'d MMM y, h:mm a'}}</span>
                </div>
            </a>
            <button (click)="openDeleteDialog(course.id)" class="z-10 col-span-1 rounded-r-md bg-red-600 p-2 flex items-center justify-center hover:bg-red-500">
                <hero-icon name="trash" type="solid" class="w-6 h-6 text-white fill-white"></hero-icon>
            </button>
        </li>
        <ng-container *ngFor="let i of [0,1,2,3,4,5]">
            <div *ngIf="loading" class="w-full h-40 bg-gray-200 rounded-md animate-pulse"></div>
        </ng-container>
    </ul>
</div>