<div class="container">
    <div>
        <h1 *ngIf="recipeCategory" class="font-bold text-3xl">{{recipeCategory.name}}</h1>
        <div *ngIf="loading1" class="w-1/2 h-6 bg-gray-200 rounded-xl animate-pulse"></div>
    </div>
    <div class="grid grid-cols-4 gap-4 my-4">
        <a *ngFor="let recipe of recipes" [routerLink]="['../../detail/',recipe.id]" class="flex flex-col shadow-md rounded-xl hover:shadow-lg hover:-translate-y-0.5 focus:scale-95">
            <div class="w-full">
                <img [src]="recipe.thumbnail | img" alt="Course Thumbnail" class="object-cover aspect-square rounded-t-xl">
            </div>
            <div class="w-full flex flex-col items-center space-y-2 p-4 text-inherit bg-white rounded-b-xl">
                <div class="flex flex-col items-center">
                    <span class="font-medium tracking-wide">{{recipe.title}}</span>
                    <span class="text-xs">{{recipe.author.fullname}}</span>
                </div>
                <div class="w-16 inline-flex items-center justify-center space-x-1 rounded-full p-1 bg-black text-white">
                    <hero-icon name="star" type="solid" class="w-3 h-3 text-yellow-400 fill-yellow-400"></hero-icon>
                    <span class="text-sm">{{recipe.rating}}</span>
                </div>
            </div>
        </a>
        <ng-container *ngFor="let i of [0,1,2]">
            <div *ngIf="loading2" class="w-full h-64 bg-gray-200 rounded-xl animate-pulse"></div>
        </ng-container>
    </div>
    <ng-container *ngIf="!loading2 && recipes.length == 0">
        <div class="w-full h-96 flex items-center justify-center p-8">
            <span class="text-sm text-gray-400">No recipes yet</span>
        </div>
    </ng-container>
</div>