<div class="relative w-[80vw] max-w-xl max-h-[650px] mx-6 p-6 bg-white rounded-md overflow-y-scroll sm:mx-0 sm:w-[60vw]">
    <button (click)="closeDialog()" class="absolute top-4 right-4 rounded-full p-1 hover:bg-gray-200 active:scale-95">
        <hero-icon name="x" type="outline" class="w-6 h-6 text-inherit"></hero-icon>
    </button>
    <div class="space-y-4">
        <h1 class="font-semibold text-xl">{{data.title}}</h1>
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="flex flex-col space-y-4">
            <div class="space-y-1">
                <label for="currPassword" class="font-medium">Current Password</label>
                <div class="relative">
                    <input type="password" [type]="showPassword ? 'text':'password'" placeholder="Enter current password" class="input-text" formControlName="currPassword">
                    <button name="showPassword" (click)="togglePassword()" type="button" class="absolute top-2 right-3 cursor-pointer">
                        <hero-icon [name]="showPassword ? 'eye-off':'eye'" type="outline" class="w-5 h-5 text-inherit"></hero-icon>
                    </button>
                </div>
            </div>
            <div class="space-y-1">
                <label for="newPassword" class="font-medium">New Password</label>
                <div class="relative">
                    <input type="password" [type]="showPassword ? 'text':'password'" placeholder="Enter new password" class="input-text" formControlName="newPassword">
                    <button name="showPassword" (click)="togglePassword()" type="button" class="absolute top-2 right-3 cursor-pointer">
                        <hero-icon [name]="showPassword ? 'eye-off':'eye'" type="outline" class="w-5 h-5 text-inherit"></hero-icon>
                    </button>
                </div>
            </div>
            <div class="flex flex-col items-center justify-center space-y-2 pt-12 sm:flex-row sm:space-x-4 sm:space-y-0">
                <button type="submit" [disabled]="passwordForm.invalid" class="w-full button-primary">Save</button>
                <button type="button" (click)="closeDialog()" class="w-full button-secondary">Cancel</button>
            </div>
        </form>
    </div>
</div>