<div class="fixed inset-x-0 bottom-0 z-10 border-t bg-white">
    <nav class="flex items-center justify-evenly p-1">
        <a *ngFor="let menu of menus" [routerLink]="menu.link" routerLinkActive="active" #rla="routerLinkActive" class="w-full flex flex-col items-center justify-center rounded-xl m-1.5 font-medium transition ease-in-out duration-200 hover:scale-105 active:bg-gray-100">
            <hero-icon [name]="menu.icon" [type]="rla.isActive ? 'solid':'outline'" class="w-6 h-6 text-brown" [class]="rla.isActive ? 'fill-brown text-brown':''"></hero-icon>
            <span class="text-xs text-brown tracking-wide">{{menu.label}}</span>
        </a>
    </nav>
</div>