<div class="flex min-h-screen items-center justify-center py-12 px-4">
    <div class="w-full max-w-md space-y-16">
        <div>
            <img class="mx-auto h-16 w-16" src="/assets/icons/barista101-logo-72.png" alt="Barista 101">
            <h2 class="mt-4 text-center text-3xl font-bold">Sign Up</h2>
        </div>

        <form [formGroup]="signupForm" (ngSubmit)="signup()" class="mt-2 space-y-6">
            <div class="space-y-4 rounded-md shadow-sm">
                <div>
                    <label for="email" class="sr-only">Email address</label>
                    <input name="email" type="email" autocomplete="email" class="input-text" placeholder="Email Address" formControlName="email">
                </div>
                <div>
                    <label for="fullname" class="sr-only">Full Name</label>
                    <input name="fullname" type="text" autocomplete="text" class="input-text" placeholder="Full Name" formControlName="fullname">
                </div>
                <div>
                    <label for="username" class="sr-only">Username</label>
                    <input name="username" type="text" autocomplete="text" class="input-text" placeholder="Username" formControlName="username">
                </div>
                <div class="relative">
                    <label for="password" class="sr-only">Password</label>
                    <input name="password" [type]="showPassword ? 'text':'password'" autocomplete="current-password" class="input-text" placeholder="Enter password" formControlName="password">
                    <button name="showPassword" (click)="togglePassword()" type="button" class="absolute top-2 right-3 cursor-pointer">
                        <hero-icon [name]="showPassword ? 'eye-off':'eye'" type="outline" class="w-5 h-5 text-inherit"></hero-icon>
                    </button>
                </div>
                <div class="relative">
                    <label for="confirmPassword" class="sr-only">Confirm Password</label>
                    <input name="confirmPassword" [type]="showPassword ? 'text':'password'" autocomplete="current-password" class="input-text" placeholder="Confirm Password" formControlName="confirmPassword">
                    <button name="showPassword" (click)="togglePassword()" type="button" class="absolute top-2 right-3 cursor-pointer">
                        <hero-icon [name]="showPassword ? 'eye-off':'eye'" type="outline" class="w-5 h-5 text-inherit"></hero-icon>
                    </button>
                </div>
            </div>

            <div>
                <button type="submit" class="button-primary w-full">Sign Up</button>
            </div>
        </form>

        <div class="flex items-center justify-center">
            <div class="text-sm">
                <span>Already have an account? </span>
                <a routerLink="/signin" class="font-medium text-blue-700 hover:text-blue-600">Sign In</a>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="loading">
    <app-loading-dialog label="Signing up"></app-loading-dialog>
</ng-container>
