<div class="container tracking-wide">
    <div class="">
        <h1 class="font-bold text-3xl">Profile Detail</h1>
    </div>
    <div class="w-full flex flex-col items-center justify-center space-y-8 my-4 p-8 bg-white">
        <div class="w-28 h-28">
            <img *ngIf="account" [src]="account.profileImg | img" alt="Profile Image" class="object-cover w-full h-full rounded-full shadow-md">
            <div *ngIf="loading" class="w-full h-full bg-gray-200 rounded-full animate-pulse"></div>
        </div>
        <div class="w-full inline-flex items-center justify-around">
            <div class="flex flex-col space-y-1">
                <span class="text-gray-600">Fullname</span>
                <span *ngIf="account" class="font-medium">{{account.fullname}}</span>
                <div *ngIf="loading" class="w-36 h-4 bg-gray-200 rounded-lg animate-pulse mb-3"></div>
            </div>
            <div class="flex flex-col space-y-1">
                <span class="text-gray-600">Username</span>
                <span *ngIf="account" class="font-medium">{{account.username}}</span>
                <div *ngIf="loading" class="w-36 h-4 bg-gray-200 rounded-lg animate-pulse mb-3"></div>
            </div>
            <div class="flex flex-col space-y-1">
                <span class="text-gray-600">Email</span>
                <span *ngIf="account" class="font-medium">{{account.email}}</span>
                <div *ngIf="loading" class="w-36 h-4 bg-gray-200 rounded-lg animate-pulse mb-3"></div>
            </div>
        </div>
        <div class="w-full inline-flex items-center space-x-4">
            <button type="button" (click)="openEditDialog()" [disabled]="loading" class="w-full button-primary">Edit Profile</button>       
            <button type="button" (click)="openPasswordDialog()" [disabled]="loading" class="w-full button-secondary">Change Password</button>       
        </div>
    </div>
</div>
